body{
    background-color: #F0F0F0;
}

button{
    background-color: #CE0033;
    border: none;
    color: white;
    padding: 23px 64px;
    margin-top: 60px;
    margin-left: 40%;
    font-weight: bold;
    border-radius: 40px;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.selectionArea{
    background-color: white;
    border: solid 1px #CE0033;
    padding: 165px 268px;
    margin: 60px 20% 60px 20%;
    text-align: center;
}