button{
    background-color: #CE0033;
    border: none;
    color: white;
    padding: 23px 64px;
    font-weight: bold;
    border-radius: 40px;
    display: block; /* Makes the button a block element */
    margin: 50px auto; /* Centers horizontally */
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.selectionArea{
    background-color: white;
    border: solid 1px #CE0033;
    padding: 150px 50px;
    margin: 50px 20% 50px 20%;
    text-align: center;
}